li:hover {
  cursor: pointer;
  background-color: #eff;
}

.post-body {
  width: calc(100% - 110px);
  display: inline-block;
  padding: 0 10px;
  margin-left: 90px;

  h3 {
    margin-top: 0;
  }

  .post-author {
    color: #67c2ef;
  }
}

.post-info {
  display: inline-block;
  margin-right: 50px;

  .sprite-comments, .sprite-ups, .sprite-downs {
    display: inline-block;
    background-image: url(images/icon-sprite.png);
    margin-right: 10px;
  }

  .sprite-comments {
    height: 16px;
    width: 16px;
    background-position: 0 0;
  }

  .sprite-ups {
    height: 16px;
    width: 16px;
    background-position: 0 -16px;
  }

  .sprite-downs {
    height: 16px;
    width: 16px;
    background-position: 0 16px;
  }
}

.image-cropper {
  display: inline-block;
  width: 90px;
  height: 90px;
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #ccc;

  img {
    min-height: 90px;
  }
}
